.flag-icon{position:relative;display:inline-block;width:1.33333333em;line-height:1em}.flag-icon:before{content:'\00a0'}.flag-icon-fr{background:url(../img/flags.svg)0 0/200%}.flag-icon-gb{background:url(../img/flags.svg)100% 0/200%}.flag-icon-jp{background:url(../img/flags.svg)0 100%/200%}
.bg-act-age_9025 {
    width: 234px; height: 356px;
    background: url("../img/covers.webp") -468px -368px;
}

.bg-adieu_eri_21648 {
    width: 234px; height: 368px;
    background: url("../img/covers.webp") -0 -0;
}

.bg-arpeggio_of_blue_steel_3872 {
    width: 234px; height: 325px;
    background: url("../img/covers.webp") -2340px -655px;
}

.bg-asobi_asobase_6663 {
    width: 234px; height: 338px;
    background: url("../img/covers.webp") -1404px -0;
}

.bg-badass_cop_dolphin_14978 {
    width: 234px; height: 368px;
    background: url("../img/covers.webp") -234px -0;
}

.bg-balade_au_crepuscule_19377 {
    width: 234px; height: 348px;
    background: url("../img/covers.webp") -234px -729px;
}

.bg-bocchi_the_rock_13406 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -702px -1417px;
}

.bg-bofuri_je_suis_pas_venue_ici_pour_souffrir_alors_j_ai_tout_mis_en_defense_11563 {
    width: 234px; height: 307px;
    background: url("../img/covers.webp") -234px -2406px;
}

.bg-call_of_the_night_12040 {
    width: 234px; height: 360px;
    background: url("../img/covers.webp") -234px -368px;
}

.bg-coffee_moon_15054 {
    width: 234px; height: 334px;
    background: url("../img/covers.webp") -234px -1082px;
}

.bg-city_hunter_rebirth_7591 {
    width: 234px; height: 324px;
    background: url("../img/covers.webp") -2340px -1305px;
}

.bg-coma_heroique_dans_un_autre_monde_12059 {
    width: 234px; height: 333px;
    background: url("../img/covers.webp") -936px -1082px;
}

.bg-dark_gathering_13134 {
    width: 234px; height: 331px;
    background: url("../img/covers.webp") -1404px -1750px;
}

.bg-days_with_my_stepsister_21675 {
    width: 234px; height: 333px;
    background: url("../img/covers.webp") -1170px -1082px;
}

.bg-dedale_5595 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -936px -1417px;
}

.bg-derriere_le_ciel_gris_11579 {
    width: 234px; height: 328px;
    background: url("../img/covers.webp") -2340px -0;
}

.bg-eizoken_pas_touche_a_nos_animes_8032 {
    width: 234px; height: 324px;
    background: url("../img/covers.webp") -2340px -1629px;
}

.bg-flying_witch_3799 {
    width: 234px; height: 366px;
    background: url("../img/covers.webp") -702px -0;
}

.bg-food_court_de_mata_ashita_30766 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -1170px -1417px;
}

.bg-frieren_15713 {
    width: 234px; height: 324px;
    background: url("../img/covers.webp") -0 -2082px;
}

.bg-gloutons_dragons_guide_officiel_-_the_adventurer_s_bible947571 {
    width: 234px; height: 321px;
    background: url("../img/covers.webp") -2574px -645px;
}

.bg-girls_last_tour_6344 {
    width: 234px; height: 333px;
    background: url("../img/covers.webp") -1404px -1082px;
}

.bg-gloutons_dragons_4272 {
    width: 234px; height: 325px;
    background: url("../img/covers.webp") -2340px -980px;
}

.bg-grimoire_of_zero_6429 {
    width: 234px; height: 327px;
    background: url("../img/covers.webp") -2340px -328px;
}

.bg-helck_5307 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -1404px -1417px;
}

.bg-hanebad_4864 {
    width: 234px; height: 333px;
    background: url("../img/covers.webp") -1638px -0;
}

.bg-holoearth_chronicles_side_e_-_yamato_phantasia_313634 {
    width: 225px; height: 320px;
    background: url("../img/covers.webp") -2808px -325px;
}

.bg-hotel_voynich_6904 {
    width: 234px; height: 346px;
    background: url("../img/covers.webp") -468px -729px;
}

.bg-isekai_anime_studio_23521 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -1638px -1417px;
}

.bg-hyouka_1493 {
    width: 234px; height: 324px;
    background: url("../img/covers.webp") -234px -2082px;
}

.bg-je_ne_suis_pas_populaire_et_c_est_de_votre_faute_4080 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -1872px -0;
}

.bg-kageki_shoujo_13816 {
    width: 234px; height: 339px;
    background: url("../img/covers.webp") -1170px -0;
}

.bg-kageki_shoujo_saison_zero_16965 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -1872px -332px;
}

.bg-kakushigoto_6522 {
    width: 234px; height: 324px;
    background: url("../img/covers.webp") -468px -2082px;
}

.bg-kamisama_-_operation_divine_15183 {
    width: 234px; height: 323px;
    background: url("../img/covers.webp") -2574px -0;
}

.bg-l_atelier_des_sorciers_6819 {
    width: 234px; height: 324px;
    background: url("../img/covers.webp") -702px -2082px;
}

.bg-kuro_4458 {
    width: 234px; height: 324px;
    background: url("../img/covers.webp") -936px -2082px;
}

.bg-la_fanfare_au_clair_de_lune_15101 {
    width: 234px; height: 330px;
    background: url("../img/covers.webp") -2106px -0;
}

.bg-la_grande_jahy_ne_perd_jamais_7884 {
    width: 234px; height: 345px;
    background: url("../img/covers.webp") -936px -729px;
}

.bg-la_romanciere_et_le_mercenaire_27984 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -1872px -664px;
}

.bg-les_fleurs_de_la_mer_egee_11334 {
    width: 234px; height: 324px;
    background: url("../img/covers.webp") -1170px -2082px;
}

.bg-look_back_19388 {
    width: 234px; height: 368px;
    background: url("../img/covers.webp") -468px -0;
}

.bg-lycoris_recoil_-_react_23540 {
    width: 234px; height: 353px;
    background: url("../img/covers.webp") -702px -368px;
}

.bg-looking_up_to_magical_girls_14242 {
    width: 234px; height: 330px;
    background: url("../img/covers.webp") -2106px -330px;
}

.bg-lycoris_recoil_-_reload_23541 {
    width: 234px; height: 353px;
    background: url("../img/covers.webp") -936px -0;
}

.bg-lycoris_recoil_-_repeat_23542 {
    width: 234px; height: 353px;
    background: url("../img/covers.webp") -936px -353px;
}

.bg-lycoris_recoil_22933 {
    width: 234px; height: 353px;
    background: url("../img/covers.webp") -0 -729px;
}

.bg-magical_girl_holy_shit_8123 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -1872px -996px;
}

.bg-magical_revolution_-_la_princesse_reincarnee_et_la_jeune_prodige_16171 {
    width: 234px; height: 335px;
    background: url("../img/covers.webp") -0 -1082px;
}

.bg-magilumiere_co_ltd_21023 {
    width: 234px; height: 331px;
    background: url("../img/covers.webp") -1638px -1750px;
}

.bg-mai_ball_-_feminine_football_team_6384 {
    width: 234px; height: 346px;
    background: url("../img/covers.webp") -702px -729px;
}

.bg-medalist_18831 {
    width: 234px; height: 324px;
    background: url("../img/covers.webp") -1404px -2082px;
}

.bg-mieruko-chan_-_slice_of_horror_12348 {
    width: 234px; height: 320px;
    background: url("../img/covers.webp") -2574px -1929px;
}

.bg-mission_impossible_230048 {
    width: 225px; height: 325px;
    background: url("../img/covers.webp") -2808px -0;
}

.bg-mon_pere_est_la_reine_des_vtubeuses_16156 {
    width: 234px; height: 321px;
    background: url("../img/covers.webp") -2574px -966px;
}

.bg-nichijo_1629 {
    width: 234px; height: 330px;
    background: url("../img/covers.webp") -2106px -660px;
}

.bg-pop_team_epic_6712 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -1872px -1328px;
}

.bg-oshi_no_ko_14831 {
    width: 234px; height: 334px;
    background: url("../img/covers.webp") -468px -1082px;
}

.bg-quality_assurance_in_another_world_18650 {
    width: 234px; height: 330px;
    background: url("../img/covers.webp") -2106px -990px;
}

.bg-reincarnated_as_a_sword_8731 {
    width: 234px; height: 330px;
    background: url("../img/covers.webp") -2106px -1320px;
}

.bg-reine_d_egypte_6353 {
    width: 234px; height: 324px;
    background: url("../img/covers.webp") -1638px -2082px;
}

.bg-reki_yomi_15711 {
    width: 234px; height: 331px;
    background: url("../img/covers.webp") -1872px -1750px;
}

.bg-sarissa_of_noctilucent_cloud_16215 {
    width: 234px; height: 322px;
    background: url("../img/covers.webp") -2574px -323px;
}

.bg-school-live_3802 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -0 -1750px;
}

.bg-sexy_cosplay_doll_9664 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -234px -1750px;
}

.bg-shadows_house_9873 {
    width: 234px; height: 337px;
    background: url("../img/covers.webp") -1404px -338px;
}

.bg-shiroi_majo_6591 {
    width: 234px; height: 333px;
    background: url("../img/covers.webp") -1638px -333px;
}

.bg-shiroi_majo_-_utsukushiki_sniper_12077 {
    width: 234px; height: 333px;
    background: url("../img/covers.webp") -1638px -666px;
}

.bg-shy_13131 {
    width: 234px; height: 330px;
    background: url("../img/covers.webp") -2106px -1650px;
}

.bg-spy_family_10465 {
    width: 234px; height: 361px;
    background: url("../img/covers.webp") -0 -368px;
}

.bg-star_wars_-_visions_24037 {
    width: 234px; height: 317px;
    background: url("../img/covers.webp") -0 -2406px;
}

.bg-super_cub_12330 {
    width: 234px; height: 339px;
    background: url("../img/covers.webp") -1170px -339px;
}

.bg-sword_art_online_alternative_-_gun_gale_online_5257 {
    width: 234px; height: 321px;
    background: url("../img/covers.webp") -2574px -1287px;
}

.bg-talentless_7886 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -468px -1750px;
}

.bg-tanya_the_evil_6402 {
    width: 234px; height: 333px;
    background: url("../img/covers.webp") -1638px -999px;
}

.bg-the_ride-on_king_8898 {
    width: 234px; height: 334px;
    background: url("../img/covers.webp") -702px -1082px;
}

.bg-the_strange_house_25383 {
    width: 234px; height: 333px;
    background: url("../img/covers.webp") -0 -1417px;
}

.bg-touhou_-_forbidden_scrollery_4975 {
    width: 234px; height: 333px;
    background: url("../img/covers.webp") -234px -1417px;
}

.bg-touhou_-_lotus_eaters_sobering_21609 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -702px -1750px;
}

.bg-trillion_games_20853 {
    width: 234px; height: 324px;
    background: url("../img/covers.webp") -1872px -2082px;
}

.bg-undead_girl_murder_farce_25610 {
    width: 234px; height: 321px;
    background: url("../img/covers.webp") -2574px -1608px;
}

.bg-under_ninja_15946 {
    width: 234px; height: 324px;
    background: url("../img/covers.webp") -2106px -2082px;
}

.bg-villainess_level_99_16507 {
    width: 234px; height: 333px;
    background: url("../img/covers.webp") -468px -1417px;
}

.bg-violence_action_7854 {
    width: 234px; height: 324px;
    background: url("../img/covers.webp") -2340px -2082px;
}

.bg-volundio_-_chroniques_des_lames_sacrees_19047 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -936px -1750px;
}

.bg-yakuza_reincarnation_14952 {
    width: 234px; height: 339px;
    background: url("../img/covers.webp") -1170px -678px;
}

.bg-yotsuba_293 {
    width: 234px; height: 337px;
    background: url("../img/covers.webp") -1404px -675px;
}

.bg-zannen_onna_kanbu_black_general-san_7100 {
    width: 234px; height: 332px;
    background: url("../img/covers.webp") -1170px -1750px;
}

.bg-entre_les_lignes_8808 {
    width: 234px; height: 321px;
    background: url("../img/covers.webp") -2574px -2249px;
}